// ==================================================
// SIDENAV
// ==================================================

@mixin framework1-sidenav-theme($theme) {
  $background: mat-color($theme, 'background');
  $foreground: mat-color($theme, 'foreground');
  .framework1-branding {color: mat-color($background, logo-color)}

 .mat-drawer {
    background-color: mat-color($background, drawer);
  }

  .framework1-sidemenu.level-2 > li.active > a {
    color: mat-color($background, sidenav-highlight-menu) !important
  }
  .framework1-sidemenu.level-1 > li.active > a {
    color: mat-color($background, sidenav-highlight-menu)  !important
  }

  .framework1-sidenav {
    .framework1-sidemenu {
      a {
        color: mat-color($foreground, sidenav-text);
      }

      .framework1-sidemenu-item {
        &:hover {
          background: mat-color($background, hover);
        }

        &.open {
          background: mat-color($background, hover);
          
        }

        &.active {
          > a {
          //  color: mat-color(map-get($theme, accent));
            color: mat-color(map-get($theme, primary));
         //   background-color: mat-color($background, sidenav-highlight-menu)  !important;
          }
        }
      }
    }

    .framework1-sidebar-header {
      color: mat-color($foreground, text);
      background: mat-color($background, app-bar);
    }
  }
}

.framework1-sidenav {
  position: absolute;
  overflow-x: auto;
  width: $sidenav-width;
  transition: swift-ease-out(width); // Only set width property

  @include mat-elevation(2);

  &.mat-drawer-side {
    border-width: 0;
  }

  .framework1-sidemenu {
    width: $sidenav-width;
    margin: 0;
    padding: 0;
    list-style: none;

    .framework1-sidemenu-item {
      display: block;
      height: auto;
      padding: 0;

      &.open {
        > .framework1-sidemenu {
          max-height: 2000px;
        }

        > .framework1-sidemenu-toggle > .menu-caret {
          transform: rotate(-180deg);
        }
      }
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;
      padding: 0 16px;
      text-decoration: none;
    }

    .menu-icon {
      width: 18px;
      height: 18px;
      margin-right: 16px;
      font-size: 1.5rem;
      line-height: 18px;

      [dir='rtl'] & {
        margin-left: 16px;
        margin-right: auto;
      }
    }

    .menu-name,
    .menu-label,
    .menu-badge {
      transition: swift-ease-out(opacity);
    }

    .menu-label,
    .menu-badge {
      @include badge();
    }

    .menu-badge {
      border-radius: 10px;
    }

    .menu-caret {
      display: block;
      text-align: center;
      transition: fast-out-slow(transform);
    }

    &.level-0 > li > a > .menu-name {
      margin-right: 5px;

      [dir='rtl'] & {
        margin-left: 5px;
        margin-right: auto;
      }
    }

    &.level-1 > li > a {
      //padding-left: 50px;

      [dir='rtl'] & {
        padding-left: 16px;
        padding-right: 50px;
      }
    }

    &.level-2 > li > a {
     // padding-left: 64px;
     // background: mat-color($background, hover);  
     // background-color: mat-color(map-get($theme, primary));   
      
      [dir='rtl'] & {
        padding-left: 16px;
        padding-right: 64px;
      }
    }

    &.level-2 > li.active > a {
      background-color: mat-color(map-get($theme, primary));
    }
    &.level-1 > li.active > a {
      background-color: mat-color(map-get($theme, primary));
    }

    &.submenu {
      max-height: 0;
      padding-top: 0;
      overflow: hidden;
      transform: translateZ(0) !important;
      transition: fast-out-slow(max-height);

      .framework1-sidemenu-item {
        border-left-width: 0;
      }
    }
  }

  .framework1-sidebar-header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    height: $toolbar-height-desktop;
    padding: 0 10px;
    overflow: hidden;

    @include bp-lt(small) {
      & {
        height: $toolbar-height-mobile;
      }
    }

    // Colorful
    // .framework1-header-white & {
    //   background-color: white;
    // }
  }

  .framework1-sidebar-inner {
    height: calc(100% - #{$toolbar-height-desktop});
    // overflow: auto;

    @include bp-lt(small) {
      & {
        height: calc(100% - #{$toolbar-height-mobile});
      }
    }
  }
}

// User panel
.framework1-user-panel-avatar {
  // Set default width and height can avoid flashing before avatar image loaded.
  width: 64px;
  height: 64px;
  transition: swift-ease-out(transform);
}
.framework1-user-panel-name,
.framework1-user-panel-email,
.framework1-user-panel-icons {
  opacity: 1;
  transition: swift-ease-out(opacity);
}

.framework1-user-panel-icons {
  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}

// Layout control
.framework1-sidenav-collapsed,
.framework1-sidenav-collapsed-fix {
  .framework1-sidenav {
    width: $sidenav-collapsed-width;

    .menu-name,
    .menu-label,
    .menu-badge,
    .menu-caret,
    .framework1-user-panel-name,
    .framework1-user-panel-email,
    .framework1-user-panel-icons {
      opacity: 0;
    }

    .framework1-user-panel-avatar {
      transform: scale(.5);
    }

    &:hover {
      width: $sidenav-width;

      .menu-name,
      .menu-label,
      .menu-badge,
      .menu-caret,
      .framework1-user-panel-name,
      .framework1-user-panel-email,
      .framework1-user-panel-icons {
        opacity: 1;
      }

      .framework1-user-panel-avatar {
        transform: scale(1);
      }
    }
  }
}

.framework1-sidenav-collapsed {
  .framework1-content-wrap {
    margin-left: $sidenav-collapsed-width !important;

    [dir='rtl'] & {
      margin-left: auto !important;
      margin-right: $sidenav-collapsed-width !important;
    }
  }

  &[dir='rtl'] .framework1-content-wrap {
    margin-left: auto !important;
    margin-right: $sidenav-collapsed-width !important;
  }
}

.mat-drawer-inner-container {
  overflow: hidden !important;
  }
